<body>
<div class="pathway-diagram-container">
  <div class="row">
    <div class="col-lg-12 col-sm-12 d-flex justify-content-between mb-3">
      <button class="button-primary" [class.selected-button]="selectedButton === 1" (click)="resetGraph(1)">Pathway 1</button>
      <button class="button-primary" [class.selected-button]="selectedButton === 2" (click)="resetGraph(2)">Pathway 2</button>
      <button class="button-primary" [class.selected-button]="selectedButton === 3" (click)="resetGraph(3)">Pathway 3</button>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-md-12 mb-3">
      <div class="graph-container">
        <div id="graph" style="width: 100%; height: 700px; border: 1px solid black"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="upload-file-container">
        <input type="file" #imageUploadInput hidden="true" (change)="onFileUpload($event); imageUploadInput.value = null">
        <div class="upload-images-container" (click)="imageUploadInput.click()">
          <i class="bi-upload"></i>
          <p>Upload File</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12">
    <div class="pathway analysis">
      <h3 style="text-align:center"> Add Pathway Analysis here</h3>

    </div>
  </div>
</div>
</body>
