<body>
  <div class="row">
    <div class="col-lg-12 col-sm-12 d-flex flex-wrap justify-content-between mb-3">
      <div class="dropdown">
        <button (click)="myFunction()" class="dropbtn">Pathway List</button>
        <div id="myDropdown2" class="dropdown-content">
      <ng-container id="pathways" *ngFor="let item of cytoscapeGraph; let index=index">
          <a (click)="changeGraph(index)">{{item?.label}} <span (click)="deletePathway(index)" class="hover disabled material-symbols-outlined">
            x
            </span></a>
      </ng-container>
      <a (click)="addPathway()">Add Pathway</a>
    </div>
      </div>
    </div>
  </div>

  <mat-button-toggle-group #group="matButtonToggleGroup" [value]="cytoMode" (change)="onModeChange(group.value)" id="chooseMode" name="fontStyle" aria-label="Font Style">
    <mat-button-toggle id = "cytoscape" value="cytoscape">cytoscape</mat-button-toggle>
    <mat-button-toggle id = "graphviz" value="graphviz">graphviz</mat-button-toggle>
  </mat-button-toggle-group>

  <img id="image" src="" />

<div class="searchbar">
  <input id="searchbar" type="search" [(ngModel)]= "search">  
  <button (click)="interactiveSearch()" class="searchbutton">Search</button>
</div>
  <div class="dropdown">
  <div  *ngFor="let show of searchResult">
    <a (click)="zoomonNode(show)">{{show.id2}}</a> 
  </div>
  <p>{{searchlen}}</p>
</div>

  <div class="row">
    <div class="col-lg-12 col-md-12 mb-3">
      <div class="graph-container">
        <div id="graph" style="width: 100%; height: 700px; border: 1px solid black"></div>
      </div>
    </div>
  </div>





<div class="row">
  <div class="col-lg-12 col-md-12">
    <div class="pathway analysis">
      <h3 style="text-align:center"> Add Pathway Analysis here</h3>

    </div>
  </div>
</div>



</body>
