<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<div class="sidebar-container">
<!-- Added logos -->

  <div class="mb-5 text-center">
    <img src="https://raw.githubusercontent.com/OICR/mp-biopath/main/mp-biopath-logo.png" height="50" width="200">
    <a href = "https://reactome.org"> <img src="https://reactome.org/templates/favourite/images/logo/logo.png" height="50" width="200"></a>

  </div>
  
  <!-- Snackbar for various information on nodes which are clicked on/pathways that are clicked on -->

  <a id="snackbar"></a>
  <br>
  <a id="edittext" contenteditable="true" (edit)="setNewTitle()" > </a>

<!-- Give user the ability to search pathways based on dbid or title of pathway-->

  <mat-button-toggle-group #group="matButtonToggleGroup" [value]="selectedVal" (change)="onValChange(group.value)" id="searchdbidortitle" name="fontStyle" aria-label="Font Style">
    <mat-button-toggle id = "dbidchecked" value="dbid">dbid</mat-button-toggle>
    <mat-button-toggle id = "titlechecked" value="title">title</mat-button-toggle>
  </mat-button-toggle-group>

  
 <!-- Actual search functionality and ability to upload files-->

<input id="searchbar2" type="search" placeholder="Search Pathways" [(ngModel)]= "search">   
 <button (click)="interactiveSearch2($event)" class="searchbutton">Search</button>
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="upload-file-container">
        <input type="file" #imageUploadInput hidden="true" id="file1" (change)="onFileUpload($event); imageUploadInput.value = null">
        <div class="upload-images-container" (click)="imageUploadInput.click()">
          <i class="bi-upload"></i>
          <p>Upload File</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Dropdown for pathway list -->

  <div class="dropdown">
    <button (click)="myFunction()" class="dropbtn">Pathway List</button>
    <div id="myDropdown" class="dropdown-content">
      <ng-container *ngFor="let item of titledbidLocal2 ">
        <a ><span class="pathwaylist" spellcheck="false"  (click)="getTextCytoscape(item)">{{item?.name}}</span> <span (click)="interactiveSnackBar(item)" class="material-symbols-outlined">
          info
          </span></a>
      </ng-container>
    </div>
  </div>






</div>



