
<div class="sidebar-container">

  <div class="mb-5 text-center">
    <h3>MP-BioPath</h3>
    <img src="https://raw.githubusercontent.com/OICR/mp-biopath/main/mp-biopath-logo.png" height="50" width="200">
    <a href = "https://reactome.org"> <img src="https://reactome.org/templates/favourite/images/logo/logo.png" height="50" width="200"></a>

  </div>


  <ul class="justify-content-center" style="display: grid;">
    <li (click)="getText(68875)">68875</li>
    <li (click)="getText(69242)">69242</li>
    <li (click)="getText(69620)">69620</li>
    <li (click)="getText(195721)">195721</li>
    <li (click)="getText(453274)">453274</li>
    <li (click)="getText(453279)">453279</li>
    <li (click)="getText(1227986)">1227986</li>
    <li (click)="getText(1257604)">1257604</li>
    <li (click)="getText(3700989)">3700989</li>
    <li (click)="getText(5673001)">5673001</li>
    <li (click)="getText(5693567)">5693567</li>

  </ul>


  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="upload-file-container">
        <input type="file" #imageUploadInput hidden="true" (change)="onFileUpload($event); imageUploadInput.value = null">
        <div class="upload-images-container" (click)="imageUploadInput.click()">
          <i class="bi-upload"></i>
          <p>Upload File</p>
        </div>
      </div>
    </div>
  </div>
</div>


