<div class="row" >
  <div class="col-lg-2 col-md-2">
    <app-sidebar (cytoscapeModeOutput)="setCytoscapeMode($event)" cytoMode="{{cytoMode}}" (cytoscapeOutput)="setCytoscape($event)" [cytoscapeGraph]="cytoscapeGraphMain" selectedTabInput1="{{selectedTab}}" (selectedTabOutput)="setselectedTab($event)" (titledbid) = "settitledbid($event)" [titledbidInput]="titledbid" ></app-sidebar>
  </div>
  <div class="col-lg-10 col-md-10">
    <app-pathway-diagram  (cytoscapeModeOutput)="setCytoscapeMode($event)" cytoMode="{{cytoMode}}" (cytoscapeOutput)="setCytoscape($event)" [cytoscapeGraph]="cytoscapeGraphMain" selectedTabInput="{{selectedTab}}" (selectedTabOutput)="setselectedTab($event)" [titledbidInput]="titledbid" (titledbid) = "settitledbid($event)"></app-pathway-diagram>
  </div>

</div>
